*{
  margin: 0;
  font-family: 'Poppins',sans-serif;
}
body{
  background-image: url("../assets/images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
main{
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
height: 100%;
}

#content{
  display: flex;
  flex-direction: column;
  width:70vw;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color:rgb(255, 255, 255);
  border: 3px solid black;
  padding:10px 40px;
}
#content header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 0;
  box-sizing: border-box;
}
header h2{
  letter-spacing:3px;
}
.select{
  display: flex;
  align-items: center;
}
.select .notifbag{
  display: flex;
}
.notifbag div{
  background-color:rgb(215, 215, 215);
  text-align: center;
  width:15px;
  height:15px;
  shape-outside: circle();
  clip-path: circle();
  padding:5px;
  right:-7px;
  position: relative;
  font-weight: bold;
  display: none;
}

.notifbag .bag{
  margin-right: 30px;
  width:35px;
  height:35px;
  background-color:rgb(255, 204, 0);
  padding:5px;
  border-radius:30%;
  cursor: pointer;
}
.select .all{
  border: 2px solid rgb(255, 204, 0);
  background-color:rgb(255, 204, 0);
  padding:10px 20px;
  font-weight: 600;
}
.select .delivery{
  border: 2px solid rgb(215, 215, 215);
  padding:10px 20px;
  font-weight: 600;
  color:grey;
  background-color: rgb(215, 215, 215);
}
#content nav{
  margin-top:20px;
  display: flex;
  gap:25px;
}
nav a{
  padding-bottom: 5px;
  border-bottom: 2px solid grey;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: border-bottom 0.5s, color 0.5s, transform 1s;
}
nav a:hover{
  border-bottom: 2px solid red;
  color: red !important;
  transform:translate(0,10px);
}
.active{
  border-bottom: 2px solid red;
  color: red !important;
}
/*  */

#products{
  margin-top:40px;
  margin-bottom:40px;
  padding:10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:25px;
  overflow:auto;
}
#products .product{
  background-color:rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  width:200px;
  height:auto;
  align-items: center;
  padding:15px;
  gap:15px;
  border-radius:10px;
  cursor: pointer;
}
.product .img-product{
  width:150px;
  height:140px;
  filter: drop-shadow(11px 10px 3px #C5C5C5);
}
.product .tittle{
  align-self: start;
  color: grey;
  font-weight: 600;
}
.product .footer{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.footer .basket{
  width:20px;
  height:20px;
  background-color:white;
  padding:3px;
  border-radius: 50%;
}
.footer p{
  color:red;
  font-weight: 600;
}
.product .addComponent{
  width: 100%;
  display: none;
  justify-content:space-evenly;
  align-items: center;
}
.addComponent img{
  width:20px;
  height:20px;
}


.pay{
  display: none;
  flex-direction: column;
  align-items: center;
  position:absolute;
  top:200px;
  width:400px;
  height:400px;
  background-color:white;
  border:3px solid black;
  padding:10px 40px 0 40px;
  gap:20px;
  overflow:auto;
  overflow-x:hidden;
}
 .list{
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 2px solid black;
}
.list .menu{
  display: flex;
  align-items: center;
  gap:10px;
}
.menu .desk{
  display:flex;
  flex-direction:column;
  gap:10px;
  justify-content:flex-start;
}
.desk span{
  color:red;
  font-weight:600;
}

.list-img{
  width:70px;
  height:70px;
}
.list .jum{
  font-weight: 600;
}

#payment{
  position:fixed;
  position:-webkit-sticky;
  width:370px;
  display: flex;
  justify-content:space-between;
  background-color:yellow;
  padding:20px 40px;
  /* z-index: 1; */
  top:535px;
  
}
.close{
  cursor: pointer;
  position: absolute;
  align-self: flex-start;
}



