*{
  margin: 0;
  font-family: 'Poppins',sans-serif;
}
#test{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}
main{
  width:500px;
  height:700px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-color:blue;
  padding: 5px;
}
main form{
  padding: 10px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width:450px;
  height:650px;
  gap:30px;
}
.satu ,.dua,.optr{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap:40px;
  font-size:20px;
  font-weight:bold;
}
form input{
  width:300px;
  height:40px;
}
.optr select{
  width:300px;
  height:40px;
}

button{
  margin-top: 20px;
  font-size: 20px;
  padding: 20px 40px;
  background-color: rgb(168, 0, 0);
  color: white;
  border-radius: 10px;
  border:none;
  cursor: pointer;
}

.hasil{
  width:500px;
  height:700px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-color:blue;
  padding: 5px;
}
.hasil section{
  padding: 10px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:450px;
  height:650px;
  gap:30px;
}
section .tmpthasil{
  margin-top: 100px;
  font-size:80px;
  color:red;
  text-align:center;
}